<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/controllers/home.js"></script>
    <script src="/app/modules/listaTelefonica.module.js"></script>
    <script src="/app/controllers/listaTelefonica.js"></script>
    <link rel="stylesheet" href="./app/app.css">
    <title>Documento de treinamento</title>
</head>
<body>
    <div ng-controller="HomeController">
        {{message}}
    </div>
    <div ng-controller="listaTelefonicaCtrl" class="central">
        <h1 class="appTitle">{{name}}</h1>
        <table class="tableContatos">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>

                </tr>
            <tr ng-repeat="contato in contatos">
                <td>{{contato.name}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.name}}</td>

            </tr>
        </table>
        <select title="selecione a operadora" name="Operadoras" ng-model="contato.operadora" 
        ng-options="operadora.name group by operadora.categoria for operadora in operadoras" >
            <option value="">Selecione uma operadora</option>
        </select>
        {{contato}}
        <hr>
        <div>
            <input type="text" ng-model="contato.name" placeholder="nome"/>
            <input type="text" ng-model="contato.telefone" placeholder="telefone"/>
            <button ng-click="adicionarContatos(contato)" ng-disabled="!contato.name || !contato.telefone">Adicionar Contato</button>
        </div>
    </div>
    
</body>
</html>